.checkmark {
  background-color: #fff;
  border-radius: 5px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 32px;
  width: 32px;
  transition: all $transition-duration $transition-timing-function;

  @include media-phablet-mx {
    left: 12px;
  }
  @include media-phablet-mn {
    left: 17px;
  }

  &:after {
    content: "";
    background-color: $color-blue;
    border-radius: 3px;
    display: none;
    position: absolute;
    left: 6px;
    top: 6px;
    width: 20px;
    height: 20px;
  }

  & + label {
    position: relative;
    z-index: 1;
    transition: all $transition-duration $transition-timing-function;

    @include media-phablet-mx {
      padding-left: 54px;
    }
    @include media-phablet-mn {
      padding-left: 68px;
    }
  }
}

.answer-box input:checked {
  //& ~ label {
  //	border: 3px solid $color-blue;
  //}

  & ~ .checkmark:after {
    display: block;
    -webkit-animation: Show ease-out .5s;
    animation: Show ease-out .5s;
  }
}