/*
Header elements
*/

.header {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  //display: none;

  @include media-tablet-v-mx {
    //min-height: $header-mobile;
    padding: 0 var(--md);
  }
  @include media-tablet-v-mn {
    //min-height: $header-desktop;
    padding: 0 3vw;
  }

  a {
    //color: $color-primary-brown;
    //display: flex;
    //align-items: center;
    //font-family: $font-family-bold;
    //letter-spacing: 0.75px;
    margin: 0 auto;

    //@include media-tablet-v-mx {
    //  background-color: #fff;
    //  border-radius: 50%;
    //  display: flex;
    //  align-items: center;
    //  justify-content: center;
    //  height: 56px;
    //  width: 56px;
    //}
    //@include media-tablet-v-mn { padding: 1vh 1.37vw 1vh 0; }
    //@include media-laptop-mx { font-size: 1.875rem; }
    //@include media-laptop-mn { font-size: 2rem; }

    &:hover {
      //color: $color-secondary-brown;
    }

    //img {
    //  margin-right: 1.1vw;
    //  @include media-tablet-v-mx {
    //    margin: 0 0 0 -2px;
    //    max-width: 30px;
    //  }
    //}
  }

  .logo {
    width: 100%;
    transition: all $transition-duration $transition-timing-function;

    @include media-tablet-v-mx {
      max-width: 244px;
    }
    @include media-tablet-v-mn {
      max-width: 380px;
    }
    @include media-laptop-mn {
      max-width: 480px;
    }
  }

  span {
    display: none
  }
}


///* Desktop menu of header */
//.navigation-desktop {
//  @include media-tablet-v-mx { display: none; }
//
//  & > ul {
//    display: flex;
//
//    & > li {
//      position: relative;
//
//      & > a {
//        //color: $color-primary-brown;
//        @include media-laptop-mx { font-size: 1.15rem; }
//        @include media-laptop-mn { font-size: 1.25rem; }
//        letter-spacing: 0.25px;
//        //line-height: $header-desktop;
//        padding: 2vh 1.2vw;
//        transition: all $transition-duration-fast $transition-timing-function;
//        white-space: nowrap;
//
//        span {
//          position: relative;
//
//          &:after {
//            content: '';
//            //background-color: $color-secondary-brown;
//            height: 1px;
//            opacity: 0;
//            position: absolute;
//            bottom: -5px;
//            left: 0;
//            right: 0;
//            transition: all $transition-duration-fast $transition-timing-function;
//          }
//        }
//
//        &:hover {
//          //color: $color-secondary-brown;
//          text-decoration: none;
//
//          span {
//            position: relative;
//
//            &:after {
//              //background-color: $color-secondary-brown;
//              height: 4px;
//              opacity: 1;
//            }
//          }
//        }
//
//        &.active span:after {
//          height: 4px;
//          opacity: 1;
//        }
//      }
//    }
//  }
//}


///* Mobile hamburger menu of header */
//.hamburger-menu {
//  @include media-tablet-v-mn { display: none; }
//  position: relative;
//
//  #menu_toggle {
//    opacity: 0;
//    position: absolute;
//  }
//}

//.menu_btn {
//  cursor: pointer;
//  position: relative;
//  z-index: 2;
//  display: block;
//  width: 30px;
//  height: 30px;
//  padding: 10px;
//
//  & span,
//  & span:before,
//  & span:after {
//    position: absolute;
//    width: 30px;
//    height: 3px;
//    //background-color: $color-secondary-brown;
//    left: 0;
//    right: 0;
//    margin: 0 auto;
//  }
//
//  & span {
//    top: 23px;
//
//    &:before {
//      content: '';
//      top: -10px;
//    }
//    &:after {
//      content: '';
//      top: 10px;
//    }
//  }
//
//  &:hover span,
//  &:hover span:before,
//  &:hover span:after {
//    //background-color: $color-primary-brown;
//    transition-duration: $transition-duration;
//  }
//}

//.menu_box {
//  //background-color: $color-primary-brown;
//  box-sizing: border-box;
//  height: 100vh;
//  width: 100vw;
//  overflow-y: auto;
//  position: fixed;
//  top: 0;
//  right: -100%;
//  z-index: 1;
//  visibility: hidden;
//  transition-duration: $transition-duration;
//
//  .menu {
//    padding: 11vh 0 5vh;
//
//    & > .menu-item {
//
//      & > a {
//        color: #fff;
//        display: block;
//        font-size: 1.25rem;
//        padding: 1.7vh var(--lg);
//
//        &:hover {
//          //background-color: $color-secondary-brown;
//        }
//
//        &.active {
//          //color: $color-orange;
//        }
//      }
//
//      &:not(:last-child) {
//        position: relative;
//
//        &:after {
//          border-bottom: 1px solid rgba(255,255,255,.1);
//          content: '';
//          position: absolute;
//          right: var(--lg);
//          left: var(--lg);
//        }
//      }
//    }
//  }
//}

//#menu_toggle:checked {
//
//  & ~ .menu_btn {
//
//    span {
//      transform: rotate(45deg);
//
//      &:before {
//        top: 0;
//        transform: rotate(0);
//      }
//
//      &:after {
//        top: 0;
//        transform: rotate(90deg);
//      }
//    }
//
//    span,
//    span:before,
//    span:after {
//      background-color: #fff;
//    }
//
//    &:hover {
//
//      span,
//      span:before,
//      span:after {
//        //background-color: $color-orange;
//      }
//    }
//  }
//
//  & ~ .menu_box {
//    visibility: visible;
//    right: 0;
//  }
//}